@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
html, body {
    margin: none;
    padding: none;
    
}
body {
    background-color: rgb(235, 235, 235);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: rgb(19, 19, 44);;
}
.header {
    background-color: rgb(19, 19, 44);
    height: 35px;
}
.nome-app {
	width: 85%;
    display: flex;
    padding: 15px;
    margin: 15px auto;
    font-size: 1.8rem;
    align-items: center;
}
.img {
    height: 40px;
    width: 100px;
    background-image: url("static/Atos.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.nome {
    margin-left: 10px;
    padding: 3px;
    flex-grow: 12;
}
.home {
    padding: 3px;
    cursor: pointer;
    flex-grow: 2;
    text-align: center;
}
.home:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}

.novo-produto {
	text-align: center;
	padding: 3px;
    cursor: pointer;
    flex-grow: 2;
}
.novo-produto:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}
.divisor {
    margin: 10px auto;
    background-color: rgba(128, 128, 128, 0.247);
    width: 90%;
    height: 3px;
}
.container {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;

}

.cadastrar {
    background-color: white;
    width: 80%;
    height: 100px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
    font-size: 1.2rem;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.imagem-produto {
    height: 80%;
    background-image: url("static/2652218.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    padding: 5px 5px 5px 15px;
    margin-left: 20px;
    margin-right: 20px;
}


.dados-produtos {
    height: 80%;
    flex-grow: 18;
    font-size: 1.4rem;
}
.excluir-alterar {
    height: 80%;
    flex-grow: 2;
    display: flex;
    
}
.excluir {
    width: 50%;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
}
.excluir:hover {
    color: red;
}

.alterar {
    width: 50%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    
}
.alterar:hover {
    color: rgb(5 150 255);;
}
a {
	text-decoration: none;
}
a:link {
   color: rgb(19, 19, 44);
}
a:visited {
    color: rgb(19, 19, 44);
}

a:active {
	color: rgb(19, 19, 44);
}
footer{
width: 100%;
position: absolute;
bottom: -40px;
left: 0;
}
#wrapper{
min-height: 100%;
position: relative;
}
.footer {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: rgb(5 150 255);
    color: white;
    font-size: 1.2rem;
}
.dialog-ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}
.dialog-ovelay .dialog {
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden
}
.dialog-ovelay .dialog header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px    
}
.dialog-ovelay .dialog header .fa-close:hover {
    color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
    padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333
}
.dialog-ovelay .dialog footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
    direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px
}
.button {
  cursor: pointer
}
.button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}
.link {
  padding: 5px 10px;
  cursor: pointer
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}